body{
    font-family: sans-serif;
    background: linear-gradient(90deg, rgb(62, 62, 137) 25%, rgba(125,189,194,1) 100%);
}

.container{
    margin: auto;
    margin-top: 5px;
    width: 900px;
    height: 620px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.top{
    background-color: #3e3f5f;
    width: 300px;
    height: 600px;
    margin-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pick{
    background-color:#fff;
    width: 550px;
    height: 600px;
    border-bottom-right-radius: 10px;
    border-top-right-radius:10px ;
}
.pick h3{
    text-align:center;
}
.pick p{
    text-align:center;
}

form{
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
  
}
input[type="text"]{
    height: 30px;
    border: #cdcdd1 solid 1px;
    border-radius: 5px;
    padding: 5px;
}
input[type=email]{
    width: 400px;
    height: 33px;
    border: #cdcdd1 solid 1px;
    border-radius: 5px;
    padding: 5px;
}

input[type=tel]{
    width: 400px;
    height: 33px;
    border: #cdcdd1 solid 1px;
    border-radius: 5px;
    padding: 5px;
   
}

.info-user{
    display: inline-block;
    margin-right: 26px;
    position: relative;
    margin-bottom: 25px;
   
}
.info-user label{
    position: absolute;
    background-color: #fff;
    color: #969696;
    top: -8px;
    left: 15px;
}

.phonee{

   position: absolute;
   top: -9px;
   left: 15px;
   background-color: #fff;

}

.social{
	display: flex;
   align-items: center;
   border: 0.5px solid #969696;
   border-top: none;
   border-left: none;
   border-right: none;
}

.social p{
    color: #c7c7cb;
}
.circle1 {
	width: 45px;
	height: 45px;
	background:  #67a84e;
    color: #d2f6c2;
    border-radius: 50%;
	margin: 22px 10px;	
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.circle2 {
    width: 45px;
	height: 45px;
	background:  #c7c7cb;
    color: #8c8fa7;
    border-radius: 50%;
	margin: 22px 10px;	
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle3 {
    width: 45px;
	height: 45px;
	background:  #c7c7cb;
    color: #a2a4b1;
    border-radius: 50%;
	margin: 22px 10px;	
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle4 {
    position: relative;
    margin-top: 20px;
}

.date .date1{
    width: 90px;
    display: inline-block;
    margin-right: 37px;
    position: relative;
}
    

.date .date1 input{
    width: 100%;
    
}


input::placeholder {  
   text-indent: 19px;
   font-size: 15px;
}

 input::-ms-input-placeholder {
	text-indent: 19px;
    font-size: 15px;
} 

input:-ms-input-placeholder {
	text-indent: 19px;
    font-size: 15px;
}  
